*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, 'San Francisco', -apple-system, BlinkMacSystemFont,
    '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  color: #222;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #666ee8;
  text-decoration: none;
  -webkit-user-select: text;
}

a:hover {
  cursor: pointer;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #d9dde1;
}

p {
  -webkit-user-select: text;
  cursor: auto;
}

iframe {
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  padding: 1rem;
}

button,
span {
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  font-size: 1rem;
  box-sizing: border-box;
  min-height: 30px;
  min-width: 30px;
  background-color: white;
}

button {
  border: solid 2px #A66BCC;
  border-bottom-width: 5px;
  border-right-width: 5px;
}

span {
  border: solid 2px #D9BD73;
}

